/* ===============================
=            Choices            =
=============================== */
.choices {
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
    font-size: 16px;
}

.choices:focus {
    outline: none;
}

.choices:last-child {
    margin-bottom: 0;
}

.choices.is-open {
    overflow: visible;
}

.choices.is-disabled .choices__inner,
.choices.is-disabled .choices__input {
    background-color: #eaeaea;
    cursor: not-allowed;
    -webkit-user-select: none;
    user-select: none;
}

.choices.is-disabled .choices__item {
    cursor: not-allowed;
}

.choices [hidden] {
    display: none !important;
}

.choices[data-type*=select-one] {
    cursor: pointer;
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 8px;
}

.choices[data-type*=select-one] .choices__input {
    display: block;
    width: 100%;
    padding: 10px;
    /*border-bottom: 1px solid #ddd;*/
    background-color: #fff;
    margin: 0;
}

.choices[data-type*=select-one] .choices__button {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==");
    padding: 0;
    background-size: 8px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -9px;
    margin-right: 25px;
    height: 20px;
    width: 20px;
    border-radius: 10em;
    opacity: 0.25;
}

.choices[data-type*=select-one] .choices__button:hover, .choices[data-type*=select-one] .choices__button:focus {
    opacity: 1;
}

.choices[data-type*=select-one] .choices__button:focus {
    box-shadow: 0 0 0 2px #00bcd4;
}

.choices[data-type*=select-one] .choices__item[data-value=""] .choices__button {
    display: none;
}

.choices[data-type*=select-one]::after {
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    border-width: 5px;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -2.5px;
    pointer-events: none;
}

.choices[data-type*=select-one].is-open::after {
    border-color: transparent transparent #333 transparent;
    margin-top: -7.5px;
}

.choices[data-type*=select-one][dir=rtl]::after {
    left: 12px;
    right: auto;
}

.choices[data-type*=select-one][dir=rtl] .choices__button {
    right: auto;
    left: 0;
    margin-left: 25px;
    margin-right: 0;
}

.choices[data-type*=select-multiple] .choices__inner,
.choices[data-type*=text] .choices__inner {
    cursor: text;
}

.choices[data-type*=select-multiple] .choices__button,
.choices[data-type*=text] .choices__button {
    position: relative;
    display: inline-block;
    margin: 0 -4px 0 8px;
    padding-left: 16px;
    border-left: 1px solid #008fa1;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==");
    background-size: 8px;
    width: 8px;
    line-height: 1;
    opacity: 0.75;
    border-radius: 0;
}

.choices[data-type*=select-multiple] .choices__button:hover, .choices[data-type*=select-multiple] .choices__button:focus,
.choices[data-type*=text] .choices__button:hover,
.choices[data-type*=text] .choices__button:focus {
    opacity: 1;
}

.choices__inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #f9f9f9;
    padding: 8px 8px 4px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
    min-height: 35px;
    overflow: hidden;
}

.is-focused .choices__inner, .is-open .choices__inner {
    border-color: #b7b7b7;
}

.is-open .choices__inner {
    border-radius: 3px 3px 0 0;
}

.is-flipped.is-open .choices__inner {
    border-radius: 0 0 3px 3px;
}

.choices__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.choices__list--single {
    display: inline-block;
    /*padding: 4px 16px 4px 4px;*/
    width: 100%;
}

[dir=rtl] .choices__list--single {
    padding-right: 4px;
    padding-left: 16px;
}

.choices__list--single .choices__item {
    width: 100%;
}

.choices__list--multiple {
    display: inline;
}

.choices__list--multiple .choices__item {
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 4px;
    margin-bottom: 4px;
    background-color: #00bcd4;
    border: 1px solid #00a5bb;
    color: #fff;
    word-break: break-all;
    box-sizing: border-box;
}

.choices__list--multiple .choices__item[data-deletable] {
    padding-right: 5px;
}

[dir=rtl] .choices__list--multiple .choices__item {
    margin-right: 0;
    margin-left: 4px;
}

.choices__list--multiple .choices__item.is-highlighted {
    background-color: #00a5bb;
    border: 1px solid #008fa1;
}

.is-disabled .choices__list--multiple .choices__item {
    background-color: #aaaaaa;
    border: 1px solid #919191;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    top: 100%;
    margin-top: -1px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
    word-break: break-all;
    will-change: visibility;
}

.is-active.choices__list--dropdown, .is-active.choices__list[aria-expanded] {
    visibility: visible;
}

.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
    border-color: #b7b7b7;
}

.is-flipped .choices__list--dropdown, .is-flipped .choices__list[aria-expanded] {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: -1px;
    border-radius: 0.25rem 0.25rem 0 0;
}

.choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list {
    position: relative;
    max-height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
    position: relative;
    padding: 10px;
    font-size: 14px;
}

[dir=rtl] .choices__list--dropdown .choices__item, [dir=rtl] .choices__list[aria-expanded] .choices__item {
    text-align: right;
}

@media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
        padding-right: 100px;
    }

    .choices__list--dropdown .choices__item--selectable::after, .choices__list[aria-expanded] .choices__item--selectable::after {
        content: attr(data-select-text);
        font-size: 12px;
        opacity: 0;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    [dir=rtl] .choices__list--dropdown .choices__item--selectable, [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable {
        text-align: right;
        padding-left: 100px;
        padding-right: 10px;
    }

    [dir=rtl] .choices__list--dropdown .choices__item--selectable::after, [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable::after {
        right: auto;
        left: 10px;
    }
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: #f2f2f2;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after {
    opacity: 0.5;
}

.choices__item {
    cursor: default;
}

.choices__item--selectable {
    cursor: pointer;
}

.choices__item--disabled {
    cursor: not-allowed;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0.5;
}

.choices__heading {
    font-weight: 600;
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #f7f7f7;
    color: rgb(128, 128, 128);
}

.choices__button {
    text-indent: -9999px;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.choices__button:focus {
    outline: none;
}

.choices__input {
    display: inline-block;
    vertical-align: baseline;
    background-color: #f9f9f9;
    font-size: 14px;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    max-width: 100%;
    padding: 4px 0 4px 2px;
}

.choices__input:focus {
    outline: 0;
}

.choices__input::-webkit-search-decoration, .choices__input::-webkit-search-cancel-button, .choices__input::-webkit-search-results-button, .choices__input::-webkit-search-results-decoration {
    display: none;
}

.choices__input::-ms-clear, .choices__input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

[dir=rtl] .choices__input {
    padding-right: 2px;
    padding-left: 0;
}

.choices__placeholder {
    opacity: 0.5;
}

/* =====  End of Choices  ====== */

select:not(.choices) {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
}

[dir='rtl'] select {
    background-position: left 0.5rem center !important;
}

.choices {
    @apply relative outline-none;
}


.choices [hidden] {
    @apply !hidden;
}

.choices[data-type*='select-one'] .has-no-choices {
    @apply hidden;
}

.choices[data-type*='select-one'] .choices__input {
    @apply m-0 block w-full;
}

.choices__inner {
    @apply bg-no-repeat py-1.5 pe-8 ps-3 !pb-[0.40rem] outline-none sm:text-sm sm:leading-6 bg-transparent border-none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
    background-position: right 0.5rem center;
    background-size: 1.5em 1.5em;
}

.choices.is-disabled .choices__inner {
    @apply cursor-default bg-secondary-100 dark:bg-secondary-700/50 rounded-md;
}

.choices__list--single {
    @apply inline-block;
}

.choices__list--single .choices__item {
    @apply text-secondary-900 dark:text-white;
}

.choices.is-disabled .choices__list--single .choices__item {
    @apply text-secondary-500 dark:text-secondary-400;
}

.choices__list--multiple {
    @apply flex flex-wrap gap-1.5;
}

.choices__list--multiple:not(:empty) {
    @apply -mx-1 mb-1 py-0.5;
}

.choices__list--multiple .choices__item {
    @apply inline-flex items-center gap-1 break-all rounded-md bg-primary-50 px-2 py-1 text-xs font-medium text-primary-600 border-primary-600 dark:border-primary-400 focus:border-primary-600/10 dark:focus:border-primary-400/30 ring-1 ring-inset ring-primary-600/10 dark:bg-primary-400/10 dark:text-primary-400 dark:ring-primary-400/30 dark:focus:ring-primary-600;
}

.is-disabled .choices__list--multiple .choices__item {
    @apply inline-flex items-center gap-1 break-all rounded-md bg-primary-50 px-2 py-1 text-xs font-medium text-primary-600 border-primary-600 dark:border-primary-400 focus:border-primary-600/10 dark:focus:border-primary-400/30 ring-1 ring-inset ring-primary-600/10 dark:bg-primary-400/10 dark:text-primary-400 dark:ring-primary-400/30 dark:focus:ring-primary-600;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
    @apply absolute top-full z-10 mt-2 hidden w-full overflow-hidden break-words rounded-lg bg-white text-sm shadow-lg ring-1 ring-secondary-900/5 will-change-[visibility] dark:bg-secondary-900 dark:ring-white/10;
}

.is-active.choices__list--dropdown,
.is-active.choices__list[aria-expanded] {
    @apply block p-1 border-0 ring-1 ring-secondary-300 dark:ring-secondary-700;
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
    @apply max-h-60 overflow-auto will-change-scroll;
}

.choices__item--choice {
    @apply p-2 text-secondary-500 transition-colors duration-75 dark:text-secondary-400;
}

.choices__item--choice.choices__item--selectable {
    @apply rounded-md text-secondary-900 dark:text-white;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    @apply bg-secondary-50 dark:bg-white/5;
}

.choices__item {
    @apply cursor-default;
}

.choices__item--disabled {
    @apply pointer-events-none disabled:text-secondary-500 dark:disabled:text-secondary-400;
}

.choices__placeholder.choices__item,
.choices.is-disabled .choices__placeholder.choices__item {
    @apply cursor-default text-secondary-400 dark:text-secondary-500;
}

.choices__button {
    @apply border-0 bg-transparent bg-center bg-no-repeat indent-[-9999px] outline-none;
}

.choices[data-type*='select-one'] .choices__button {
    @apply absolute end-0 me-9 h-4 w-4 p-0 opacity-50 transition-opacity duration-75 dark:opacity-40;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==');
    background-size: 0.7142em 0.7142em;
}

.dark .choices[data-type*='select-one'] .choices__button {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==');
}

.choices[data-type*='select-multiple'] .choices__button {
    @apply h-4 w-4 opacity-50 dark:opacity-40;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==');
    background-size: 0.7142em 0.7142em;
}

.dark .choices[data-type*='select-multiple'] .choices__button {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==');
}

.choices[data-type*='select-one'] .choices__button:hover,
.choices[data-type*='select-one'] .choices__button:focus-visible,
.choices[data-type*='select-multiple'] .choices__button:hover,
.choices[data-type*='select-multiple'] .choices__button:focus-visible {
    @apply opacity-70 dark:opacity-60;
}

.choices[data-type*='select-one'] .choices__item[data-value=''] .choices__button {
    @apply hidden;
}

.choices.is-disabled .choices__button {
    @apply hidden;
}

/* !important is used to override default Tailwind input styling */

.choices__input {
    @apply border-none !bg-transparent !p-0 !text-sm text-secondary-900 transition duration-75 placeholder:text-secondary-400 focus-visible:!ring-0 disabled:text-secondary-500 disabled:[-webkit-text-fill-color:theme(colors.secondary[500])] dark:text-white dark:placeholder:text-secondary-500 dark:disabled:text-secondary-400 dark:disabled:[-webkit-text-fill-color:theme(colors.secondary[400])] sm:!text-sm sm:leading-6;
}

.choices__list--dropdown .choices__input {
    @apply !px-2 !py-2;
}

.choices__input::-webkit-search-decoration,
.choices__input::-webkit-search-cancel-button,
.choices__input::-webkit-search-results-button,
.choices__input::-webkit-search-results-decoration {
    @apply hidden;
}

.choices__input::-ms-clear,
.choices__input::-ms-reveal {
    @apply hidden h-0 w-0;
}

.choices__group {
    @apply px-2 pb-2 pt-4 text-secondary-500 first:pt-2 dark:text-secondary-400;
}

.choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
    @apply m-0 pl-0 border-none;
}
